@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder ;
}
body{
    background: rgb(1, 32, 53);
    
    
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: #1f0c4d;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 20px 20px 20px rgba(2, 18, 160, 0.742);
}
.wrapper .title{
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 25px;
    color: #56ad18;
    text-align: center;
    text-transform: uppercase;
}
.wrapper .form{
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: #077afe;
    
}
.wrapper .form .input_field label{
    width: 200px;
    color: #ffffff;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bolder;
}
.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #077afe     ;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-weight: bolder;
}
.wrapper .form .input_field .textarea{
    resize: none;
    height: 40px;
    width: 500px
    
}
.wrapper .form .input_field .custom_select{
    position: relative;
    width: 100%;
}
.wrapper .form .input_field .custom_select .label{
    position: relative;
    width: 100%;
    height: 100px;
}
.wrapper .form .input_field .custom_select select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #2e5e0c;
    width: 100%;
    height: 40%;
    padding: 8px 10px;
    border-radius: 3px;
    outline:none;
    font-weight: bolder;

}
.wrapper .form .input_field .custom_select select:before{
    content: "";
    position:absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: blue transparent transparent transparent;
    pointer-events: none;
}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus{
border: 1px solid #077afe
}
.wrapper .form .input_field p{
    font-size: 14px;
    color:#56ad18

}
.wrapper .form .input_field .check{
    width: 15px;
    height: 15px;
    position:relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .input_field .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.wrapper .form .input_field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #044896;
    display: block;
    position: relative;
    
}
.wrapper .form .input_field .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border:2px solid;
    border-color: transparent transparent #044896 #044896;
    transform: rotate(-45deg); 
    display: none;
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark{
    background: #56ad18
    
    
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
}
.wrapper .form .input_field .btn:hover{
    background: #2e5e0c;
    
}
.wrapper .form .input_field .terms .label .p{
    font-weight: bolder;
}
.wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #0c3e77;
    color: #56ad18;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    text-align: center;
    font-weight: bolder;
    

}
.wrapper .form .input_field:last-child{
    margin-bottom: 0;
}

input[type=radio]{
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin-right: 2px;
    inline-size: 22px;
    border-radius: 100%;
    border: 2px solid #077afe;
    outline: none;
    position: relative;
    top: 5px;
    margin-top: 55px;
    
}
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 100%;
    background-color: #56ad18;
    left: 2px;
    bottom: 2px;

  }
@media (max-width: 420px){
    .wrapper .form .input_field{
       flex-direction: colum;
       align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;

    }
    .wrapper .form .input_field .terms{
        flex-direction:row;
    }
        
}